
.mt-4 {
    margin-top: 2rem;
}

.article-box {
    /*margin: 0;*/
    /*height: 100%;*/
}

.article-box::before {
    background-color: #a77ca0;
}

.article-card {
    margin: 0;
    width: 100%;
}

.article-card .p-card__title {
    margin-bottom: 1rem;
}

.article-card h3 {
    margin-bottom: 6rem !important;
}

.article-card hr {
    background: #FFF;
    border-top: 1px dotted #d9d9d9;
}

.article-card p {
    margin-bottom: 1rem !important;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    width:91%;
}

.card-author {

}





