

.mt-4 {
    margin-top: 2rem;
}



.article-box::before{
    background-color: #a77ca0;
}

.article-card{
    margin: 0;
    width: 100%;
}

.article-card .p-card__title {
    margin-bottom: 1rem;
}

.article-card h5 {
    margin-bottom: 1rem !important;
}

.article-card hr {
    background: #FFF;
    border-top: 1px dotted #d9d9d9;
}

.card-category{
    margin-bottom:1rem !important;
}






